# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
# Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db

temporary files/
Logs/
Plugins/
Components/
Extras/
PrefRecords/
Plugins/Cache/4D for OCI.4darchive
Project/.DS_Store
Project/Sources/.DS_Store
/userPreferences.Costas Manousakis
