.Arial10 {
	font-family: Arial;
	font-size: 10px;
}

.Arial10Bold {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

.Arial10BoldUnder {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}

.Arial11 {
	font-family: Arial;
	font-size: 11px;
}

.Arial11Bold {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}

.Arial14Bold {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.Arial16Bold {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.Arial4BoldItalic {
	font-family: Arial;
	font-size: 4px;
	font-weight: bold;
	font-style: italic;
}

.Arial5 {
	font-family: Arial;
	font-size: 5px;
}

.Arial6 {
	font-family: Arial;
	font-size: 6px;
}

.Arial6Bold {
	font-family: Arial;
	font-size: 6px;
	font-weight: bold;
}

.Arial6BoldItalic {
	font-family: Arial;
	font-size: 6px;
	font-weight: bold;
	font-style: italic;
}

.Arial7 {
	font-family: Arial;
	font-size: 7px;
}

.Arial7Bold {
	font-family: Arial;
	font-size: 7px;
	font-weight: bold;
}

.Arial7BoldItalic {
	font-family: Arial;
	font-size: 7px;
	font-weight: bold;
	font-style: italic;
}

.Arial7BoldItalicUnder {
	font-family: Arial;
	font-size: 7px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.Arial8 {
	font-family: Arial;
	font-size: 8px;
}

.Arial8Bold {
	font-family: Arial;
	font-size: 8px;
	font-weight: bold;
}

.Arial8BoldItalic {
	font-family: Arial;
	font-size: 8px;
	font-weight: bold;
	font-style: italic;
}

.Arial9 {
	font-family: Arial;
	font-size: 9px;
}

.Arial9Bold {
	font-family: Arial;
	font-size: 9px;
	font-weight: bold;
}

.ContractPrintDetail {
	font-family: Courier;
	font-size: 7px;
}

.ContractPrintFooter {
	font-family: Courier;
	font-size: 7px;
	font-weight: bold;
}

.ContractPrintHeader {
	font-family: Courier;
	font-size: 7px;
}

.ContractPrintTitle {
	font-family: Helvetica;
	font-size: 9px;
}

.Courier06 {
	font-family: Courier;
	font-size: 6px;
}

.Courier07 {
	font-family: Courier;
	font-size: 7px;
}

.DataEntry12APlain {
	font-family: Tahoma;
	font-size: 12px;
}

.DataEntry12Plain {
	font-family: Tahoma;
	font-size: 14px;
}

.DataEntry14Plain {
	font-family: Tahoma;
	font-size: 14px;
}

.DataEntry19Plain {
	font-family: Tahoma;
	font-size: 19px;
}

.DCM_DataLabel {
	font-family: Lucida Grande;
	font-size: 14px;
}

.DCM_DataLabelBold {
	font-family: Lucida Grande;
	font-size: 14px;
	font-weight: bold;
}

.DCM_FormTitle {
	font-family: Lucida Grande;
	font-size: 17px;
	font-weight: bold;
}

.DCM_InputVariable {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Default {
	font-family: Tahoma;
	font-size: 12px;
}

.DefaultBold {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
}

.Form_Header {
	font-family: Tahoma;
	font-size: 12px;
}

.FormData12 {
	font-family: Tahoma;
	font-size: 12px;
}

.Geneva12 {
	font-family: Tahoma;
	font-size: 12px;
}

.Geneva14 {
	font-family: Tahoma;
	font-size: 14px;
}

.Geneva14Italic {
	font-family: Tahoma;
	font-size: 14px;
	font-style: italic;
}

.Geneva18B {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
}

.Geneva20B {
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
}

.Geneva24B {
	font-family: Tahoma;
	font-size: 24px;
	font-weight: bold;
}

.Geneva7 {
	font-family: Tahoma;
	font-size: 7px;
}

.Geneva7Bold {
	font-family: Tahoma;
	font-size: 7px;
	font-weight: bold;
}

.Geneva7BoldUnder {
	font-family: Tahoma;
	font-size: 7px;
	font-weight: bold;
	text-decoration: underline;
}

.Geneva7Italic {
	font-family: Tahoma;
	font-size: 7px;
	font-style: italic;
}

.Geneva9 {
	font-family: Tahoma;
	font-size: 9px;
}

.Helvetica10 {
	font-family: Helvetica;
	font-size: 10px;
}

.Helvetica12 {
	font-family: Helvetica;
	font-size: 12px;
}

.Helvetica12Bold {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
}

.Helvetica4BoldItalic {
	font-family: Helvetica;
	font-size: 4px;
	font-weight: bold;
	font-style: italic;
}

.Helvetica6 {
	font-family: Helvetica;
	font-size: 6px;
}

.Helvetica7 {
	font-family: Helvetica;
	font-size: 7px;
}

.Helvetica8 {
	font-family: Helvetica;
	font-size: 8px;
}

.Helvetica9 {
	font-family: Helvetica;
	font-size: 9px;
}

.Helvetica9Bold {
	font-family: Helvetica;
	font-size: 9px;
	font-weight: bold;
}

.Label10Bold {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
}

.Label10Plain {
	font-family: Tahoma;
	font-size: 10px;
}

.Label12Bold {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
}

.Label12Italic {
	font-family: Tahoma;
	font-size: 12px;
	font-style: italic;
}

.Label12Plain {
	font-family: Tahoma;
	font-size: 12px;
}

.Label14Bold {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
}

.Label14BoldU {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.Label16BoldItalic {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.Label18Bold {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
}

.Label28Bold {
	font-family: Tahoma;
	font-size: 28px;
	font-weight: bold;
}

.Label9Bold {
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
}

.List10Plain {
	font-family: Tahoma;
	font-size: 10px;
}

.List11Bold {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
}

.List12Bold {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
}

.List12Plain {
	font-family: Tahoma;
	font-size: 12px;
}

.List9 {
	font-family: Tahoma;
	font-size: 9px;
}

.List9Bold {
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
}

.ListFormTitle {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
}

.Lucinda_09 {
	font-family: Lucida Grande;
	font-size: 9px;
}

.Lucinda_10 {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Lucinda_12 {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Lucinda_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Lucinda_14_Plain {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Messages {
	font-family: Tahoma;
	font-size: 11px;
}

.PRJ_IncludedList {
	font-family: Lucida Grande;
	font-size: 12px;
	font-weight: bold;
}

.PRJ_InputBoldLabel {
	font-family: Lucida Grande;
	font-size: 10px;
	font-weight: bold;
}

.PRJ_InputVariable {
	font-family: Lucida Grande;
	font-size: 10px;
}

.TabText {
	font-family: Tahoma;
	font-size: 12px;
}

.Times10 {
	font-family: Times New Roman;
	font-size: 10px;
}

.Times10Bold {
	font-family: Times New Roman;
	font-size: 10px;
	font-weight: bold;
}

.Times10BoldItalic {
	font-family: Times New Roman;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
}

.Times10BoldItalicUnder {
	font-family: Times New Roman;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.Times12 {
	font-family: Times New Roman;
	font-size: 12px;
}

.Times12Bold {
	font-family: Times New Roman;
	font-size: 12px;
	font-weight: bold;
}

.Times12BoldNew {
	font-family: Times New Roman;
	font-size: 12px;
	font-weight: bold;
}

.Times14Bold {
	font-family: Times New Roman;
	font-size: 14px;
	font-weight: bold;
}

.Times14BoldItalic {
	font-family: Times New Roman;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

.Times16 {
	font-family: Times New Roman;
	font-size: 16px;
}

.Times16Bold {
	font-family: Times New Roman;
	font-size: 16px;
	font-weight: bold;
}

.Times17Bold {
	font-family: Times New Roman;
	font-size: 17px;
	font-weight: bold;
}

.Times18Bold {
	font-family: Times New Roman;
	font-size: 18px;
	font-weight: bold;
}

.Times20 {
	font-family: Times New Roman;
	font-size: 20px;
}

.Times20Bold {
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;
}

.Times24 {
	font-family: Times New Roman;
	font-size: 24px;
}

.Times24Bold {
	font-family: Times New Roman;
	font-size: 24px;
	font-weight: bold;
}

.Times26Bold {
	font-family: Times New Roman;
	font-size: 26px;
	font-weight: bold;
}

.Times7 {
	font-family: Times New Roman;
	font-size: 7px;
}

.Times7Bold {
	font-family: Times New Roman;
	font-size: 7px;
	font-weight: bold;
}

.Times7Italic {
	font-family: Times New Roman;
	font-size: 7px;
	font-style: italic;
}

.Times8Bold {
	font-family: Times New Roman;
	font-size: 8px;
	font-weight: bold;
}

.Times9 {
	font-family: Times New Roman;
	font-size: 9px;
}

.Times9Bold {
	font-family: Times New Roman;
	font-size: 9px;
	font-weight: bold;
}

.Times9BoldItalic {
	font-family: Times New Roman;
	font-size: 9px;
	font-weight: bold;
	font-style: italic;
}

.Wingdings18 {
	font-family: Wingdings;
	font-size: 18px;
	font-weight: bold;
}

